

#box {
    position: relative;

    display: flex;
    flex-wrap: wrap;
    /* justify-content: center; */
    /* align-items: center; */

    width: 50vmin;
    height: 50vmin;

    background-color: darkgray;
}

.square {
    flex-basis: calc(100% / 3);
    height: calc(100% / 3);

    /* 单行高度 */
    /* line-height: 3em;  */
    text-align: center;

    font-size: 50px;

    background-color: gray;
}

#reset {
    position: absolute;
    left: calc(50% - 50px);
    bottom: -30px;

    display: hidden;
    
    width: 100px;
    height: 30px;
}